/* common settings */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e2e2e2;
}

h2, p {
  margin: 0;
}

h1,
h2 {
  color: #383334;
  font-weight: 900;
}

.text__medium {
  font-weight: 500;
  color: #000000;
}

/* bg image */
.header__wrapp {
  position: absolute;
  width: 1583px;
  height: 687px;
  float: left;
  background: url(../img/bg.png)no-repeat;
  background-size: cover;
  z-index: -2;
}

/* header section*/
.header {
  position: relative;
  padding-bottom: 147px;
  z-index: 0;
}

/* header bg gradient */
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #f3f9ff, #f3f9ff);
  opacity: 0.5;
}

.header__info {
  display: flex;
  justify-content: flex-end;
}

.header h1 {
  font-size: 22px;
  padding: 0 70px 0 50px;
  margin: 0;
}

.header__logo {
  align-items: center;
  padding-top: 14px;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.header__img {
  position: relative;
}

.logo__img_small {
  position: absolute;
  top: 20px;
}

.header__title {
  padding: 25px 0 0;
  display: flex;
  justify-content: center;
}

.header__recommendation {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.header__recommendation:last-child {
  padding-right: 0px;
}

.header__recommendation p {
  font-size: 16px;
  font-style: italic;
  padding-left: 12px;
  color: #797a7a;
}

.recommendation__img {
  max-width: 40px;
  max-height: 41px;
}

/* header__hero */
.header__hero__circle {
  position: relative;
}

.hero__circle__img {
  width: 571px;
  height: 572px;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: -110px;
}

.header__hero__circle::before {
  content: "";
  position: absolute;
  top: 33px;
  left: -167px;
  border-radius: 50%;
  width: 686px;
  height: 686px;
  border: 32px solid;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 100%);
  color: #ffffff;
  transform: rotate(-10deg);
}

/* legs img */
.hero__circle__legs {
  position: absolute;
  top: -73px;
  left: -275px;
}

/* micoPils */
.hero__circle__mico__red {
  position: absolute;
  top: 420px;
  left: -55px;
  z-index: 4;
}

.header__price {
  position: absolute;
}

.header__price::after {
  content: "299 ₽";
  background-color: #ff6b00;
  position: absolute;
  left: 228px;
  top: 403px;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  z-index: 8;
}

.header__price::before {
  content: "299 ₽";
  background-color: #a8ca3f;
  position: absolute;
  left: 338px;
  top: 533px;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  z-index: 8;
}

.hero__circle__mico__green {
  position: absolute;
  top: 550px;
  left: 50px;
  z-index: 6;
}

.hero__circle__mico__group {
  position: absolute;
  top: 624px;
  left: 190px;
  z-index: 7;
}

.hero__circle__tree {
  position: absolute;
  top: 420px;
  left: 155px;
  z-index: 2;
}

.hero__circle__pils {
  position: absolute;
  top: 650px;
  left: -110px;
  z-index: 5;
}

/* header content */
.header__content {
  padding: 50px 0 15px;
  display: flex;
  justify-content: center;
}

/* header content text */
.header__content__text {
  margin-right: 25px;
  z-index: 10;
}

.header__content__text h2 {
  font-size: 44px;
  white-space: pre-line;
  line-height: 1;
}

.header__text__styled {
  position: relative;
  font-weight: bold;
  font-size: 34px;
  z-index: 0;
}

.header__text__styled::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 166px;
  width: 138px;
  height: 5px;
  background-color: #a7c93d;
  z-index: -1;
}

.header__text__styled::before {
  content: "";
  position: absolute;
  top: 36px;
  width: 127px;
  height: 5px;
  background-color: #ff6b00;
  z-index: -1;
}

/* header tabs*/
.header__tabs {
  padding-top: 45px;
}

.header__tab {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
  float: left;
}

.header__tab:hover {
  cursor: pointer;
}

.header__tab:hover .header__tab__circle {
  box-shadow: 1px 0px 41px -1px rgba(168, 202, 63, 1);
}

/*tab text */
.header__tab p {
  padding-left: 18px;
  font-size: 20px;
}

.header__tab__text {
  white-space: pre-line;
  line-height: 1.1;
}

.header__tab:first-child {
  padding-top: 0px;
}

.tab__text_gel,
.tab__text_pills {
  position: relative;
}

.tab__text_pills::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 86px;
  height: 3px;
  background-color: #ff6b00;
}

.tab__text_gel::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 42px;
  height: 3px;
  background-color: #a7c93d;
}

/* tab circle */
.header__tab__circle {
  border-radius: 50%;
  background-color: #a7c93d;
  border: 7px solid #e8edc9;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  position: relative;
}

.header__tab__circle p {
  padding-left: 0;
  height: 46px;
  width: 46px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* tab  arrows */
.circle__three::before {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: -31px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__three::after {
  content: "+";
  position: absolute;
  color: #aec3da;
  left: 36%;
  top: -45px;
  transform: rotate(90deg);
  font-size: 15px;
}

.circle__two::after {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: 50px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__two::before {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: -30px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__first::after {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: 63px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__first::before {
  content: "∧";
  position: absolute;
  color: #aec3da;
  left: 36%;
  top: 52px;
  font-size: 14px;
}

/* header booking form */
.header__content__booking {
  background-color: #FFFFFF;
  border: 7px solid #a8ca3f;
  border-radius: 10px;
  padding: 0;
  position: relative;
  z-index: 9;
}

.booking__delivery {
  background-color: #eaedf0;
  position: absolute;
  left: 20%;
  top: -19px;
  border: 7px solid #a8ca3f;
  border-radius: 10px;
  clip-path: polygon(100% 20.5%, 100% 100%, 0% 100%, 0% 20.5%);
  padding: 7px 22px 10px 10px;
}

.delivery__img {
  width: 27px;
  height: 17px;
}

.booking__delivery h3 {
  font-size: 16px;
  color: #444444;
  padding-left: 10px;
}

.booking__header {
  text-align: center;
  padding-top: 50px;
  line-height: 1;
}

.booking__header h3 {
  font-size: 20px;
}

.price {
  padding: 15px 0 15px;
  display: flex;
  justify-content: center;
}

.sell_date {
  color: #ff6b00;
}

.old_price {
  padding-right: 5px;
}

.new_price {
  padding-left: 5px;
}

.old_price h4,
.new_price h4 {
  font-size: 14px;
}

.new_price h4 {
  font-weight: bold;
}

.old_price p {
  font-size: 34px;
  font-weight: 300;
  padding: 2px 8px;
  position: relative;
}

.old_price p::before,
.old_price p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #ec8659;
  transform: rotate(12deg);
}

.old_price p::after {
  transform: rotate(-12deg)
}

.new_price p {
  font-size: 34px;
  font-weight: 900;
  background-color: #ffbf02;
  border-radius: 5px;
  padding: 2px 10px;
}

.new_price:hover p {
  cursor: pointer;
  animation: pulsing 3s;
  animation-iteration-count: 2;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }

  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

/* form */
.header__form {
  padding: 0 10px;
  position: relative;
}

.inp__name {
  background: url(../img/man.png) no-repeat 20px 25px;
}

.inp__phone {
  background: url(../img/phone.png) no-repeat 20px 25px;
}

.btn__text {
  margin-bottom: 10px;
  border: none;
  text-align: left;
  border-radius: 35px;
  background-color: #eef2f7;
  font-size: 16px;
  color: #666666;
  outline: none;
  padding: 23px 0px 17px 54px;
}

.header__btn__submit {
  margin: 5px 0 20px;
  border-radius: 35px;
  background-color: #ffc002;
  outline: none;
  text-align: center;
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  line-height: 0.7;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: none;
  transition: 0.5s;
}

.header__btn__submit::before {
  content: "";
  position: absolute;
  border: 3px solid #ffd24e;
  border-radius: 35px;
  width: 228px;
  height: 60px;
  top: 5px;
  left: 8px;
  z-index: -1;
}

.header__btn__submit:hover {
  cursor: pointer;
  background-color: #ff5e00;
}

.header__btn__submit:active {
  outline: none;
  background-color: #e27b22;
  transition: 1s;
}

.header__btn__submit {
  padding: 18px 57px 14px 59px;
  font-size: 28px;
}

.submit__btn__text {
  font-size: 16px;
}

/* red arrow in form */
.header__form::before {
  content: "";
  position: absolute;
  left: 50px;
  top: -25px;
  border-radius: 50%;
  width: 290px;
  height: 200px;
  border: 3px solid #fd7532;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 40% 80%);
  transform: rotate(90deg);
}

.header__form::after {
  content: "";
  position: absolute;
  left: 248px;
  top: 175px;
  border: 8px solid transparent;
  border-right: 11px solid #fd7532;
  transform: rotate(320deg);
}

/* text after form */
.remaining {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

.remaining__amount {
  color: #9dbd39;
}

.guard {
  padding: 10px 0;
  background-color: #eef2f7;
  text-align: center;
}

.guard h4 {
  font-size: 14px;
  color: #6f6f70;
  padding: 5px 0 0 15px;
}

/* main content */
main {
  padding: 33px 0;
  background-color: #FFFFFF;
}

.main__title {
  text-align: center;
}

.main__title h2 {
  font-size: 48px;
  padding: 30px 0 36px 0;
}

.main__title p {
  font-weight: bold;
  font-size: 24px;
  color: #2b2828;
}

/* cards section*/
.sickness {
  display: flex;
  justify-content: center;
}

.sickness__card {
  padding-bottom: 35px;
}

.sickness__card:hover {
  box-shadow: 0px 37px 58px -62px rgba(240, 159, 115, 1);
}

.sickness__card:hover .card__text::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 300px;
  height: 3px;
  background-color: #becbd8;
  transition: 1s;
}

.card__title {
  font-size: 22px;
  font-weight: 500;
  white-space: pre-line;
  padding-left: 20px;
}

.card__text {
  font-size: 18px;
  white-space: pre-line;
  position: relative;
  color: #444444;
}

.card__text::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 50px;
  height: 3px;
  background-color: #becbd8;
}

.sickness__description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0 54px;
}

/* sickness img settings*/
.sickness__round__img {
  padding: 0;
  position: relative;
}

.sickness__round__img img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
}

/* sickness circle */
.sickness__round__img::after {
  position: absolute;
  left: 125px;
  top: -8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
}

.sickness__round__img::after {
  position: absolute;
  left: 125px;
  top: -8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
}

.sickness__round__img.first::after {
  content: "1";
  background-color: #ec9a6a;
}

.sickness__round__img.two::after {
  content: "2";
  background-color: #e47643;
}

.sickness__round__img.three::after {
  content: "3";
  background-color: #ec5b19;
}

/* sickness line */
.sickness__round__img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border: 10px solid;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 50%);
}

.sickness__round__img.first::before {
  border-color: #ec9a6a;
}

.sickness__round__img.two::before {
  border-color: #e47643;
}

.sickness__round__img.three::before {
  border-color: #ec5b19;
}

/* stats section */
.stats {
  border: 3px solid #f4d3bb;
  border-radius: 15px;
  margin-top: 40px;
}

.stats__text {
  position: relative;
  padding: 44px 86px 38px 89px;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  color: #828282;
}

.stats__img {
  background-color: #FFFFFF;
  position: absolute;
  top: -18px;
  left: calc(50% - 100px);
  padding: 0 50px;
}

hr {
  height: 3px;
  border: none;
  margin: 0;
}

canvas {
  position: absolute;
  top: 510px;
  z-index: 0;
}

/* media */
@media (width: 320px) {
  .circle__three::before {
    top: -41px;
  }

  .circle__three::after {
    top: -55px;
  }

  .circle__two::after {
    top: 60px;
  }

  .circle__two::before {
    top: -60px;
  }

  .circle__first::after {
    top: 103px;
  }

  .circle__first::before {
    top: 62px;
  }

  .header__form::before {
    left: 65px;
  }

  .header__form::after {
    left: 262px;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header__form::before,
  .header__form::after,
  .header__hero,
  .header__wrapp,
  canvas {
    display: none;
  }

  .header {
    padding: 0;
  }

  .header__info {
    display: block;
  }

  .header__title {
    padding-left: 35px;
    display: block;
  }

  .header h1 {
    padding: 0 80px 0 50px;
  }

  .header__recommendation {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header__recommendation:nth-child(2) p {
    padding-left: 30px;
  }

  .header__content {
    display: block;
    padding-bottom: 0;
  }

  .header__content__text {
    margin: 0;
  }

  .header__content__text h2 {
    text-align: center;
  }

  .header__content__booking {
    display: block;
    margin-top: 420px;
  }

  .booking__delivery {
    left: 25%;
  }

  .stats__img {
    left: calc(50% - 79px);
  }

  .stats__text p {
    font-size: 15px;
  }

  .sickness__description {
    display: block;
    margin-left: 15%;
  }

  .sickness__description h5 {
    padding: 15px 0 0;
  }

  .sickness__round__img {
    margin-left: 10%;
  }

  .sickness__card:hover .card__text::before {
    width: 250px;
  }

  .stats__text {
    padding: 25px;
  }

  .card__text {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .header__content__booking {
    max-width: 390px;
  }
}

@media (min-width: 375px) and (max-width: 576px) {

  .header__form::before,
  .header__form::after {
    display: none;
  }
  .booking__delivery {
    left: 29%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }

  .header__price,
  .hero__circle__tree {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .header__recommendation p {
    font-size: 10px;
  }

  .header__content__text h2 {
    font-size: 30px;
  }

  .header__tabs {
    padding-top: 22px;
  }

  .header__content__text {
    margin-right: 40px;
    z-index: 10;
  }

  .header__text__styled {
    font-size: 25px;
  }

  .header__text__styled::before {
    width: 100px;
  }

  .header__text__styled::after {
    width: 100px;
    left: 120px;
  }

  .header__content__booking {
    max-height: 570px;
  }

  .circle__three::before {
    top: -41px;
  }

  .circle__three::after {
    top: -65px;
  }

  .circle__two::after {
    top: 60px;
  }

  .circle__two::before {
    top: -60px;
  }

  .circle__first::after {
    top: 83px;
  }

  .circle__first::before {
    top: 52px;
  }

  .booking__delivery {
    top: -19.1px;
  }

  .header__wrapp {
    width: 420px;
  }

  .header__form::before,
  .header__form::after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header {
    padding-bottom: 0;
  }

  .header__hero {
    display: none;
  }

  .header__recommendation p {
    font-size: 10px;
  }

  .sickness__description {
    display: flex;
    align-items: center
  }

  .booking__delivery {
    top: -19.1px;
  }

  .header__wrapp {
    width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    padding-bottom: 0;
  }

  .header__form::before,
  .header__form::after,
  .hero__circle__mico__group {
    display: none;
  }

  .header__logo {
    visibility: hidden;
    padding: 0;
  }

  .header__title {
    padding: 0;
    align-items: center;
  }

  .header__title p {
    font-size: 10px;
  }

  .header__content__text {
    padding-left: 90px;
    margin-right: 10px;
  }

  .header__content__booking {
    max-height: 570px;
  }

  .header__content__text h2 {
    font-size: 30px;
  }

  .header__tab p {
    font-size: 18px;
  }

  .header__text__styled {
    font-size: 25px;
  }

  .header__text__styled {
    font-size: 25px;
  }

  .header__text__styled::before {
    width: 100px;
  }

  .header__text__styled::after {
    width: 100px;
    left: 120px;
  }

  .circle__three::before {
    top: -41px;
  }

  .circle__three::after {
    top: -58px;
    left: 38%;
  }

  .circle__two::after {
    top: 60px;
  }

  .circle__two::before {
    top: -50px;
  }

  .circle__first::after {
    top: 83px;
  }

  .circle__first::before {
    top: 62px;
  }

  .booking__delivery {
    top: -19.1px;
  }

  .header__wrapp {
    width: 760px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1200px) and (max-width: 1583px) {
  .header__wrapp {
    width: 1070px;
  }
}
