/* common settings */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2, p {
  margin: 0;
}

h1,
h2 {
  color: #383334;
  font-weight: 900;
}

.text__medium {
  font-weight: 500;
  color: #000000;
}


/* bg image */
.header__wrapp {
  position:absolute;
  width: 1583px;
  height: 687px;
  float: left;
  background: url(../img/bg.png)no-repeat;
  background-size: cover;
}


/* header section*/
.header {
  position: relative;
  background-color: #e2e2e2;
  /* width: 2560px;
  height: 840px; */
  /* background-image: url(../img/bg.png); */
}

/* 1583 */

.header h1 {
  font-size: 22px;
  padding: 0 70px 0 50px;
  margin: 0;
}

.header__logo {
  align-items: center;
  padding-top: 14px;
  float: right;
}

.header__img {
  position: relative;
}

.logo__img_small {
  position: absolute;
  top: 20px;
}

.header__title {
  padding: 25px 0 0;
}

.header__recommendation {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.header__recommendation:last-child {
  padding-right: 0px;
}

.header__recommendation p {
  font-size: 16px;
  font-style: italic;
  padding-left: 12px;
  color: #797a7a;
}

.recommendation__img {
  max-width: 40px;
  max-height: 41px;
}

/* header content */
.header__content {
  padding: 50px 0 15px;
}

/* header content text */
.header__content__text {
  margin-right: 25px;
}

.header__content__text h2 {
  font-size: 44px;
  white-space: pre-line;
  line-height: 1;
}

.header__text__styled {
  position: relative;
  font-weight: bold;
  font-size: 34px;
  z-index: 0;
}

.header__text__styled::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 166px;
  width: 138px;
  height: 5px;
  background-color: #a7c93d;
  z-index: -1;
}

.header__text__styled::before {
  content: "";
  position: absolute;
  top: 36px;
  width: 127px;
  height: 5px;
  background-color: #ff6b00;
  z-index: -1;
}

/* header tabs*/
.header__tabs {
  padding-top: 45px;
}

.header__tab {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
  float: left;
}

.header__tab:hover {
  cursor: pointer;
}

.header__tab:hover .header__tab__circle {
  box-shadow: 1px 0px 41px -1px rgba(168,202,63,1);
}

/*tab text */
.header__tab p {
  padding-left: 18px;
  font-size: 20px;
}

.header__tab__text {
  white-space: pre-line;
  line-height: 1.1;
}

.header__tab:first-child {
  padding-top: 0px;
}

.tab__text_gel,
.tab__text_pills {
  position: relative;
}

.tab__text_pills::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 86px;
  height: 3px;
  background-color: #ff6b00;
}

.tab__text_gel::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 42px;
  height: 3px;
  background-color: #a7c93d;
}

/* tab circle */
.header__tab__circle {
  border-radius: 50%;
  background-color: #a7c93d;
  border: 7px solid #e8edc9;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  position: relative;
}

.header__tab__circle p {
  padding-left: 0;
  height: 46px;
  width: 46px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* tab  arrows */
.circle__three::before {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: -31px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__three::after {
  content: "+";
  position: absolute;
  color: #aec3da;
  left: 36%;
  top: -45px;
  transform: rotate(90deg);
  font-size: 15px;
}

.circle__two::after {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: 50px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__two::before {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: -30px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__first::after {
  content: "-";
  position: absolute;
  color: #aec3da;
  left: 40%;
  top: 63px;
  transform: rotate(90deg);
  font-size: 20px;
}

.circle__first::before {
  content: "∧";
  position: absolute;
  color: #aec3da;
  left: 36%;
  top: 52px;
  font-size: 14px;
}

/* header booking form */
.header__content__booking {
  background-color: #FFFFFF;
  border: 7px solid #a8ca3f;
  border-radius: 10px;
  padding: 0;
  position: relative;
}

.booking__delivery {
  background-color: #e9f1fa;
  position: absolute;
  left: 20%;
  top: -18.6px;
  border: 7px solid #a8ca3f;
  border-radius: 10px;
  clip-path: polygon(100% 20%, 100% 100%, 0% 100%, 0% 20%);
  padding: 7px 22px 10px 10px;
}

.delivery__img {
  width: 27px;
  height: 17px;
}

.booking__delivery h3 {
  font-size: 16px;
  color: #444444;
  padding-left: 10px;
}

.booking__header {
  text-align: center;
  padding-top: 50px;
  line-height: 1;
}

.booking__header h3 {
  font-size: 20px;
}

.price {
  padding: 15px 0 15px;
}

.sell_date {
  color: #ff6b00;
}

.old_price {
  padding-right: 5px;
}

.new_price {
  padding-left: 5px;
}

.old_price h4,
.new_price h4 {
  font-size: 14px;
}

.new_price h4 {
  font-weight: bold;
}

.old_price p {
  font-size: 34px;
  font-weight: 300;
  padding: 2px 8px;
  position: relative;
}

.old_price p::before,
.old_price p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #ec8659;
  transform: rotate(12deg);
}

.old_price p::after {
  transform: rotate(-12deg)
}

.new_price p {
  font-size: 34px;
  font-weight: 900;
  background-color: #ffbf02;
  border-radius: 5px;
  padding: 2px 10px;
}

.new_price:hover p {
  cursor: pointer;
  animation: pulsing 3s;
  animation-iteration-count: 2;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

/* form */
.header__form {
  padding: 0 10px;
  position: relative;
}

.inp__name {
      background: url(../img/man.png) no-repeat 20px 25px;
}

.inp__phone {
      background: url(../img/phone.png) no-repeat 20px 25px;
}

.btn__text {
  margin-bottom: 10px;
  border: none;
  text-align: left;
  border-radius: 35px;
  background-color: #eef2f7;
  font-size: 16px;
  color: #666666;
  outline: none;
  padding: 23px 0px 17px 54px;
}

.header__btn__submit {
  margin: 5px 0 20px;
  border-radius: 35px;
  background-color: #ffc002;
  outline: none;
  text-align: center;
  font-size: 28px;
  color: #000000;
  font-weight: bold;
  line-height: 0.7;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: none;
  transition: 0.5s;
}

.header__btn__submit::before {
  content: "";
  position: absolute;
  border: 3px solid #ffd24e;
  border-radius: 35px;
  width: 228px;
  height: 60px;
  top: 5px;
  left: 8px;
  z-index: -1;
}

.header__btn__submit:hover {
  cursor: pointer;
  background-color: #ff5e00;
}

.header__btn__submit:active {
  outline: none;
  background-color: #e27b22;
  transition: 1s;
}

.header__btn__submit p {
  padding: 18px 57px 14px 59px;
  font-size: 28px;
}

.submit__btn__text {
  font-size: 16px;
}

/* red arrow in form */
.header__form::before {
  content: "";
  position: absolute;
  left: 50px;
  top: -25px;
  border-radius: 50%;
  width: 290px;
  height: 200px;
  border: 3px solid #fd7532;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 40% 80%);
  transform: rotate(90deg);
}

.header__form::after {
  content: "";
  position: absolute;
  left: 248px;
  top: 175px;
  border: 8px solid transparent; border-right: 11px solid #fd7532;
  transform: rotate(320deg);
}

/* text after form */
.remaining {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

.remaining__amount {
  color: #9dbd39;
}

.guard {
  padding: 10px 0;
  background-color: #eef2f7;
  text-align: center;
}

.guard h4 {
  font-size: 14px;
  color: #6f6f70;
  padding: 5px 0 0 15px;
}

/* main content */
main {
  padding: 33px 0;
  background-color: #FFFFFF;
}

.main__title {
  text-align: center;
}

.main__title h2 {
  font-size: 48px;
  padding: 30px 0 36px 0;
}

.main__title p {
  font-weight: bold;
  font-size: 24px;
  color: #2b2828;
}

/* cards section*/
.sickness__card {
  padding-bottom: 35px;
}

.sickness__card:hover {
  box-shadow: 0px 37px 58px -62px rgba(240,159,115,1);
}

.sickness__card:hover .card__text::before {
    content: "";
    position: absolute;
    top: -20px;
    width: 300px;
    height: 3px;
    background-color: #becbd8;
    transition: 1s;
  }

.card__title {
  font-size: 22px;
  font-weight: 500;
  white-space: pre-line;
  padding-left: 20px;
}

.card__text {
  font-size: 18px;
  white-space: pre-line;
  position: relative;
  color: #444444;
}

.card__text::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 50px;
  height: 3px;
  background-color: #becbd8;
}

.sickness__description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0 54px;
}

/* sickness img settings*/
.sickness__round__img {
  padding: 0;
  position: relative;
}

.sickness__round__img img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
}

/* sickness circle */
.sickness__round__img::after {
  position: absolute;
  left: 125px;
  top: -8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
}

.sickness__round__img::after {
  position: absolute;
  left: 125px;
  top: -8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
}

.sickness__round__img.first::after {
  content: "1";
  background-color: #ec9a6a;
}

.sickness__round__img.two::after {
  content: "2";
  background-color: #e47643;
}

.sickness__round__img.three::after {
  content: "3";
  background-color: #ec5b19;
}

/* sickness line */
.sickness__round__img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border: 10px solid;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%, 0% 50%);
}

.sickness__round__img.first::before {
  border-color: #ec9a6a;
}

.sickness__round__img.two::before {
  border-color: #e47643;
}

.sickness__round__img.three::before {
  border-color: #ec5b19;
}

/* stats section */
.stats {
  border: 3px solid #f4d3bb;
  border-radius: 15px;
  margin-top: 40px;
}

.stats__text {
  position: relative;
  padding: 44px 86px 38px 89px;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  color: #828282;
}

.stats__img {
  background-color: #FFFFFF;
  position: absolute;
  top: -18px;
  left: calc(50% - 100px);
  padding: 0 50px;
}

hr {
  height: 3px;
  border: none;
  margin: 0;
}

/* media */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
